@media screen and (max-width:767px) {
    img {

        width: 200px;

    }

    h2 {
        margin: 15px 40px;
        width: auto;
        text-align: center;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        gap: 20px;

    }

    button{
        width: 200px;
        height: auto;
    }
}